.component-container {
  background-image: url("../../../assets/img/login-back.png");
  min-height: 100%;
  overflow: auto;
  min-width: 477px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loginForm ::ng-deep.mat-form-field-appearance-standard .mat-form-field-flex {
  padding: 0 !important;
}

.loginForm
  ::ng-deep.mat-form-field-appearance-standard
  .mat-form-field-wrapper {
  padding: 0 !important;
}

.loginForm ::ng-deep .mat-form-field-infix {
  border-top: none;
}

.loginForm ::ng-deep.mat-form-field {
  width: 100%;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 3rem;
  padding-left: 1.5rem;
  padding-bottom: 0.44rem;
}

.loginForm ::ng-deep .mat-input-element {
  height: 2rem;
}

.loginForm ::ng-deep .mat-form-field-empty.mat-form-field-label {
  top: 2.5rem !important;
  left: 1.2rem !important;
}

.loginForm ::ng-deep .mat-form-field-label:not(.mat-form-field-empty) {
  top: 36px !important;
  left: 17px !important;
}

.loginForm
  ::ng-deep
  .mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-2.3em) scale(0.75) !important;
}

.loginForm .button-neumorphism {
  width: 50%;
  border-radius: 1em;
}

.loginForm .button-neumorphism-disabled {
  width: 50%;
  border-radius: 1em;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
}

.logo-container {
  text-align: center;
  margin-top: 2.5rem;
}

.loginForm {
  overflow-y: hidden;
  border-radius: 2rem;
  padding: 1.5rem;
  min-width: unset;
  max-width: unset;
  margin-top: 2rem;
  border: 0.0625rem solid #d1d9e6;
  color: #44476a;
  background-color: #e6e7ee;
  box-shadow: 2px 2px 5px #b8b9be;
}

::ng-deep.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: 2px 2px 5px #b8b9be !important;
  border-color: #d1d9e6 !important;
}

::ng-deep .p-checkbox-label {
  margin-bottom: 0 !important;
  color: #44476a;
}

.link {
  line-height: 27px;
  color: #44476a;
  float: right;
  padding-left: 1rem;
}

.link:hover,
.link:focus {
  font-weight: 500;
  text-decoration: none;
}

.large {
  padding-right: 1.5rem !important;
}
